.title_category_result{
    margin: 0;
    color: green;
    margin-bottom: 10px;
}

.labels{
    margin: 0;
    color: #aaa;
    font-weight: bold;
    font-size: 12px;
}

.title_descriptions{
    margin: 0;
    color: #000;
    margin-bottom: 8px;
}