.modal-actions__portal{
    display: flex;
    justify-content: center;
    align-items: center;
    inset: 0;
}

.modal-actions__overlay{
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    inset: 0;
}

.modal-actions__content{
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 180px;
    background-color: white;
    border-radius: 8px;
    margin: auto auto;
    inset: 0;
}

.modal-actions__title{
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.container_modal_options{
    display: flex;
    flex-direction: column;
    padding: 8px;
}

.btn-action-options{
    border: 0;
    font-weight: bold;
    color: #000;
    font-size: 16px;
    padding: 10px 10px;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    
    gap: 5px
}

.btn-action-options:hover{
    cursor: pointer;
    background-color: #EEE;
}