.modal-choose-type-delation__portal{
    display: flex;
    justify-content: center;
    align-items: center;
    inset: 0;
}

.modal-choose-type-delation__overlay{
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    inset: 0;
}

.modal-choose-type-delation__content{
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 300px;
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    margin: auto auto;
    inset: 0;
    gap: 15px
}

.modal-choose-type-delation__title{
    font-size: large;
    font-weight: bold;
    text-align: center;
}

.modal-choose-type-delation__btn-action{
    display: flex;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    gap: 10px;
    width: 100%;
}

.modal-choose-type-delation__btn-action:hover{
    background-color: #ddd
}