.item-category__container{
    display: flex;
    flex-direction: column;
}

.item-category__area-top-card{
    display: flex;
}

.container-proof-photo__title-proof-photo{
    margin: 0;
    margin-top: -20px;
    background-color: green;
    font-weight: bold;
    color: #fff;
}

.proof-photo{
    width: 400px;
    height: 250px;
    background-color: aqua;
}

.container-proof-photo__title-category{
    margin: 0;
    font-weight: bold;
    color: green;
}

.area-top-card__category-info{
    display: flex;
    flex-direction: column;
}

.category-info__titles{
    margin-left: 5px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 16px;
}

.category-info__description{
    font-size: 14px;
    margin: 0 0 5px 5px;
}

.container__area-actvist-report{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    border-bottom: 1px solid #aaa;
}

@media screen and (max-width: 376px) {
    .item-category__area-top-card{
        flex-direction: column;
    }

    .proof-photo{
        width: 100%;
        height: 150px;
    }

    .category-info__titles{
        font-size: 12px;
    }

    .category-info__description{
        font-size: 12px;
    } 
}

@media screen and (max-width: 768px) {
    .item-category__area-top-card{
        flex-direction: column;
    }

    .proof-photo{
        width: 400px; 
        height: 220px;
    }

    .category-info__titles{
        font-size: 12px;
    }

    .category-info__description{
        font-size: 12px;
    } 
}