
table {
  width: 90%;
  margin: 15px;
  border: 1px solid gray;
}

th {
  padding: 5px;
  background: rgb(201, 201, 201);
}

td {
  align-items: center;
  justify-content: center;
  padding: 8px;
  background: #fff;
}