.modal-delation__portal{
    display: flex;
    justify-content: center;
    align-items: center;
    inset: 0;
}

.modal-delation__overlay{
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    inset: 0;
}

.modal-delation__content{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 540px;
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    margin: auto auto;
    inset: 0;
}

.modal-delation__title{
    font-size: large;
    font-weight: bold;
}

.modal-delation__form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: '90%';
}

.modal-delation__label{
    font-weight: bold;
    color: 'green';
    margin-bottom: 3px;
}

.modal-delation__input{
    width: 450px;
    height: 35px;
    margin-bottom: 10px;
}

.modal-delation__photo{
    width: 250px;
    height: 170px;
    align-self: center;
    margin-top: 10px;
    object-fit: cover;
}

.modal-delation__area-btn{
    display: flex;
    width: 450px;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;
    gap: 10px;
}

.modal-delation__btn-cancel{
    border: 0;
    background-color: #ddd;
    border-radius: 8px;
    padding: 5px;
    width: 80px;
    height: 35px;
    transition: all 0.2s;
    font-weight: bold;
}

.modal-delation__btn-cancel:hover{
    cursor: pointer;
    background-color: #bbb;
}

.modal-delation__btn-report{
    border: 0;
    background-color: rgb(249, 236, 67);
    border-radius: 8px;
    padding: 5px;
    width: 80px;
    height: 35px;
    transition: all 0.2s;
    font-weight: bold;
}

.modal-delation__btn-report:hover{
    cursor: pointer;
    background-color: rgb(236, 224, 53);
}