.certificate__container{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    border: solid 1px #aaa;
    padding: 10px;
    width: 620px;
}

.container__area-info-producer{
    display: flex;
    justify-content: space-between;
}

.area-info-producer__card-info{
    display: flex;
    flex-direction: column;
}

.card-info__title{
    margin: 0;
    font-size: 14px;
    color: green;
    font-weight: bold;
}

.card-info__description{
    margin: 0;
}

.area-certificates{
    display: flex;
    flex-wrap: wrap;
    gap: 20
}

.container__certificate-container{
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    padding: 20px;
}

.container__certificate-container-short{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px #aaa;
    padding: 10px;
    width: 270px;
    background-color: #fff;
    margin-right: 100px;
}

.qrcode-area{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.qrcode{
    width: 180px;
    height: 180px;
}

.hash-qrcode{
    margin: 10px 0 0 0;
    font-size: 12px;
}

.certificate-container__producer-score-info{
    display: flex;
    flex-direction: column;
}

.img-logo-certificate{
    width: 140px;
    height: 50px;
    margin-bottom: 20px;
}

.producer-score-info__cards{
    display: flex;
}

.producer-score-info__description{
    margin: 0;
}

.color-red{
    color: red;
}
