.modal-realize__portal{
    display: flex;
    justify-content: center;
    align-items: center;
    inset: 0;
}

.modal-realize__overlay{
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    inset: 0;
}

.modal-realize__content{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 700px;
    height: 530px;
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    margin: auto auto;
    inset: 0;
}

.modal-realize__title{
    font-size: large;
    font-weight: bold;
    text-align: center;
}

.modal-realize__area-btn{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 5px;
    align-items: center;
}

.container_realize_inspection{
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.card_category_realize_inspection{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 15px;
}
.card_category_realize_inspection h3{
    margin: 0;
    color: green;
}

.area_description_result{
    display: flex;
}

.area-description{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.area-description h4{
    margin: 0;
    margin-top: 10px;
}

.area-description p{
    margin: 0;
}

.area-result{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.area-result p{
    color: #000;
    font-weight: bold;
    margin: 0;
}

.area-result select{
    width: 80%;
    height: 35px;
    color: green;

}

.area_report_realize_inspection{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.area_report_realize_inspection p{
    margin: 0;
    color: #000;
    font-weight: bold;
}

.area_report_realize_inspection textarea {
    resize: none;
    height: 100px;
}

.area_upload_photo_realize_inspection{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.area_upload_photo_realize_inspection p {
    margin: 0;
    color: #000;
    font-weight: bold;
    margin-bottom: 2px;
}

.footer_realize_inspection{
    display: flex;
    justify-content: end;
    padding: 0 0 10px 0;
}

.btn-finish-inspection{
    padding: 10px 15px;
    background-color: rgb(249, 236, 67);
    border: 2px solid rgb(249,236,67);
    color: #000;
    font-weight: bold;
    margin: 0 10px;
    border-radius: 5px;
    transition: 0.5s all;
}

.btn-finish-inspection:hover{
    cursor: pointer;
    border: 2px solid #000;
    
}