.id-wallets{
    max-width: 15ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.container-modal-actions{
    width: 160px;
    height: auto;
    background-color: #eee;
    border-radius: 10px;
    border: 1px solid #aaa;
    position: absolute;
    top: 220px;
    right: 35px;
}

.tit-status{
    font-weight: bold;
    color: #fff;
    margin: 0;
    font-size: 14px;
}

.status-open{
    background-color: rgb(255, 148, 47);
    border-radius: 8px;
    width: 80px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.status-accepted{
    background-color: rgb(44, 150, 255);
    border-radius: 8px;
    width: 80px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.status-inspected{
    background-color: rgb(0, 203, 119);
    border-radius: 8px;
    width: 80px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}